<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="food.delivery.online.global.shopping.world.social.media.news.virtual.all">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="food.delivery.online.global.shopping.world.social.media.news.virtual.all.Singleton"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        tools:targetApi="m">
        <activity android:name="food.delivery.fantasy.hub.online.coupons.deals.network.bazaar.tracker.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="food.delivery.fantasy.hub.online.coupons.deals.network.bazaar.tracker.view.WebActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="food.delivery.fantasy.hub.online.coupons.deals.network.bazaar.tracker.view.MainActivity"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="ENABLE" />

    </application>
</manifest>